* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #1D2C38;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 1rem;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem 0;
}

.text-left {
    text-align: start;
}

header {
    background-color: #CCEEDF;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 5px 3px 8px 2px #0004;
    width: 100%;
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .container .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
}


nav ul {
    list-style-type: none;
    padding-left: 0;
    display: none;
}

nav ul.open-nav {
    display: flex;
}


nav ul>li>a {
    padding: 0 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #326D72;
    transition: 0.2s color;
}

nav ul>li>a:visited {
    color: #326D72;
}

nav ul>li>a:hover {
    color: #1c2b38;
}

#hero {
    background-color: #CCEEDF;
    padding: 50px 0;
    background-image: url("../img/background_header_image.png");
    background-size: cover;
}

.hamburger {
    color: #1D2C38;
}

ul {
    list-style-type: circle;
}

.no-margin {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    color: #1D2C38;
}

#hero h1 span {
    display: block;
}

h2 {
    color: #326D72;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2;
}

img {
    width: 100%;
    border-radius: 4px;
}

svg {
    width: 100%;
}

#logo {
    max-width: 200px;
    display: none;
}

#small-logo {
    max-height: 40px;
}

#profile-picture {
    max-width: 330px;
}

.project-logo {
    max-width: 200px;
}

.project-picture {
    max-width: 600px;
}

.project-cover-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.everme-first-row .logo {
    padding-top: 4rem;
    min-width: 250px;
}

.small-img {
    width: 30px;
}

.two-images {
    display: flex;
    gap: 1rem;
    overflow: auto;
}

.two-images img {
    max-width: 80vw;
}

.quote {
    mix-blend-mode: darken;
}

@keyframes color-change {
    0% {
        fill: #fffd89;
    }

    50% {
        fill: #f3d77c;
    }

    100% {
        fill: #f7b527;
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

a,
a:visited,
a:focus {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #0b0bb8;
    text-decoration: underline;
}

a:active {
    color: #ff0000;
}

.button {
    display: inline-block;
    border: none;
    padding: 0.6rem 1.6rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s background-color;
}

a.primary-button {
    color: #ffffff;
    text-decoration: unset;
}

.primary-button {
    background-color: #329D9C;
    color: #ffffff;
}

.primary-button:hover {
    background-color: #326D72;
}

.primary-button:focus {
    outline: 2px solid #0000ff;
}

.primary-button:active {
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #326D72;
}

a.secondary-button {
    text-decoration: unset;
    color: #326D72;
}

.secondary-button {
    background-color: white;
    color: #326D72;
    border-width: 2px;
    border-style: solid;
    border-color: #326D72;
}

.secondary-button:hover {
    background-color: #326D72;
    color: #ffffff;
}

.secondary-button:focus {
    outline: 2px solid #0000ff;
}

.secondary-button:active {
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #326D72;
}

.card {
    border: 2px solid #e1e7e7;
    border-radius: 8px;
    padding: 24px;
}

footer {
    background-color: #CCEEDF;
    padding: 1rem 0;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}


form {
    max-width: 600px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 1em;
    border: 1px solid #326D72;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    resize: vertical;
}

.override-textarea {
    margin-top: 1rem;
}

input[type=submit] {
    display: inline-block;
    background-color: white;
    color: #326D72;
    font-size: 1rem;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #326D72;
    border-radius: 2rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #326D72;
    color: #ffffff;
}

@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
    }

    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
    }

    header .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #small-logo {
        display: none;
    }

    #logo {
        display: block;
    }

    body {
        font-size: 18px;
    }

    .col-md-6 {
        width: 50%;
    }

    .row {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px) {

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1200px;
        margin: 0 auto;
    }
}