
* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width:90vw;
}

.row {
    margin: 1.5rem 0;
}

.text-left {
    text-align:start;
}

header {
    background-color: #CCEEDF;
    text-align:center;
    position:fixed;
    box-shadow: 5px 3px 8px 2px #0004;
    width: 100%;
}

nav {
    display:inline-block;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul > li {
    display:inline-block;
}

nav ul > li > a {
    padding: 0 12px;
    text-transform: uppercase;
    font-weight: 700;
    color:  #326D72;
}
nav ul > li > a:visited {
    color:  #326D72;
}

main {
    padding-top: 205px;
}

#hero {
    background-color: #CCEEDF;
    font-size:70%;
    padding: 20px 0;
  display: inline-block;
  width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #1D2C38;
    font-size: 16px;
    line-height: 1.2;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    font-style: bold;
    color: #1D2C38;
}

h2 {
    color:  #326D72;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2;
}

img {
    width: 100%;
}

.img-25 {
    width: 25%;
}

#logo {
    max-width: 150px;
}

.small-img {
    width: 30px;
}

a, a:visited, a:focus {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #0b0bb8;
    text-decoration: underline;
}

a:active {
    color: #ff0000;
}

.button {
    display: inline-block;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

a.primary-button {
    color: #ffffff;
    text-decoration: unset;
}

.primary-button {
    background-color: #329D9C;
    color: #ffffff;
}

.primary-button:hover {
    background-color: #326D72;
}

.primary-button:focus {
    outline: 2px solid #0000ff;
}

.primary-button:active {
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #326D72;
}

a.secondary-button {
    text-decoration: unset;
    color: #326D72;
}

.secondary-button {
    background-color: white;
    color: #326D72;
    border-width: 2px;
    border-style: solid;
    border-color: #326D72;
}

.secondary-button:hover {
    background-color: #326D72;
    color: #ffffff;
}

.secondary-button:focus {
    outline: 2px solid #0000ff;
}

.secondary-button:active {
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #326D72;
}

footer {
    background-color: #CCEEDF;
    padding: 1rem 0;
    text-align:center;
    width: 100%
}


input[type=text], textarea {
    width: 100%;
    padding: 1rem; 
    border: 1px solid #326D72;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    resize: vertical;
  }

input[type=submit] {
    display: inline-block;
    background-color: white;
    color: #326D72;
    font-size: 1.5rem;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #326D72;  
    border-radius: 2rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
  }

input[type=submit]:hover {
    background-color: #326D72;
    color: #ffffff;
  }
